.header__lang-link {
  border: none;
  margin-top: 18px;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

@media (min-width: 320px) and (max-width: 765px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
