.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: white;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .page {
    max-width: 1279px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page {
    max-width: 1023px;
    margin: 0 auto;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .page {
    min-width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .page {
    min-width: 320px;
  }
}
