.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: white;
}

@media (min-width: 1023px) and (max-width: 1278px) {
  .page {
    max-width: 1279px;
  }
}

@media (min-width: 766px) and (max-width: 1022px) {
  .page {
    max-width: 1023px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .page {
    max-width: 320px;
  }
}
