.places {
  margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .places {
    margin: 92px 148px 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .places {
    max-width: 718px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .places {
    margin: 0;
    max-width: 320px;
  }
}
