.places {
  margin: 92px 0 0;
  max-width: 984px;
  min-height: 3392px;
}

@media (min-width: 1023px) and (max-width: 1441px) {
  .places {
    margin: 92px 48px 0;
    max-width: 928px;
    min-height: 3292px;
  }
}

@media (min-width: 767px) and (max-width: 1022px) {
  .places {
    margin: 61px 32px 0 16px;
    max-width: 720px;
    min-height: 2808px;
  }
}

@media (min-width: 319px) and (max-width: 423px) {
  .places {
    margin: 64px 0 0;
    max-width: 320px;
    min-height: 5177px;
  }
}
