.places {
  margin: 0;
  max-width: 984px;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .places {
    min-width: 928px;
    margin: 92px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    min-width: 928px;
    margin: 0 48px 0 40px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .places {
    min-width: 720px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .places {
    min-width: 720px;
}
}

@media (min-width: 319px) and (max-width: 424px) {
  .places {
    margin: 0;
    min-width: 320px;
  }
}
