.places {
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .places {
    max-width: 984px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: 720px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .places {
    max-width: 718px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .places {
    max-width: 320px;
  }
}
