.places {
  margin: 92px auto 0;
}

.place{
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.place__content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 984px;
  max-height: 660px;
}

.place__title {
  margin: 0;
  max-width: 460px;
  max-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__img {
  margin: 48px 0 0;
  max-width: 460px;
  max-height: 460px;
}

.place__website {
  max-width: 484px;
  max-height: 152px;
  min-height: 76px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0 0;
}

.place__url-heading {
  line-height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin: 0 0 12px;
  text-decoration: none;
}

.place__link {
  font-style: normal;
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: start;
  text-decoration: underline;
  color: white;
}

.place__link:hover {
  opacity: 0.6;
}

.place__text {
  max-height: 460px;
  margin-top: 48px;
}

.place__paragraph {
  max-width: 484px;
  margin: 26px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  align-items: flex-end;
  padding: 0;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}
