.cover__subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto;
  max-width: 360px;
  position: relative;
  z-index: 2;
}


@media (min-width: 1280px) and (max-width: 1500px) {
  .cover__subtitle {
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {

  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .cover__subtitle {

  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .cover__subtitle {

  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .cover__subtitle {
    margin: 16px auto;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
