.intro__list {
  margin: 33px 0 0;
  list-style: none;
  padding: 0;
  max-width: 690px;
}

@media (min-width: 766px) and (max-width: 1022px) {
  .intro__list {
    max-width: 720px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .intro__list {
    max-width: 320px;
  }
}
