.intro__list {
  margin: 33px 0 0;
  list-style: none;
  padding: 0;
  max-width: 690px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .intro__list {
    max-width: 928px;
  }
}

@media (min-width: 1024px) and (max-width: 1280spx) {
  .intro__list {
    max-width: 928px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .intro__list {
    max-width: 1023px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .intro__list {
    max-width: 766px;
    margin: 34px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .intro__list {
    max-width: 320px;
    margin: 34px 0 0;
  }
}
