.lead {
  max-width: 984px;
  margin: 56px auto 0;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (min-width: 1023px) and (max-width: 1278px) {
  .lead {
    max-width: 928px;
  }
}

@media (min-width: 766px) and (max-width: 1022px) {
  .lead {
    max-width: 768px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .lead {
    max-width: 320px;
  }
}

@media (min-width: 320px) and (max-width: 1278px) {
  .lead {
    margin: 48px auto 0;
  }
}
