.lead {
  margin: 56px auto 0;
  text-align: center;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .lead {
    max-width: 984px;
    margin: 56px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;
  }
}

@media (min-width: 745px) and (max-width: 768px) {
  .lead {
    max-width: 650px;
  }
}

@media (min-width: 425px) and (max-width: 745px) {
  .lead {
    margin: 48px auto 0;
    /* max-width: 390px; */
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .lead {
    margin: 48px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead {
    min-width: 320px;
    max-width: 424px;
  }
}
