.lead {
  margin: 56px auto 0;
  text-align: center;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .lead {
    max-width: 984px;
    margin: 56px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead {
    margin: 48px auto 0;
    min-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .lead {
    margin: 48px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead {
    min-width: 320px;
    max-width: 424px;
    margin: 48px 0 0;
  }
}
