.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid__item{
    min-width: 300px;
    min-height: 225px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__item{
    min-width: 351px;
    min-height: 264px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .photo-grid__item{
    min-width: 288px;
    max-width: 352px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .photo-grid__item {
    min-width: 288px;
    max-width: 352px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .photo-grid__item {
    min-height: 216px;
  }
}
