.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

@media (min-width: 1280px) and (max-width: 1441px) {
  .photo-grid__item{
    min-width: 284px;
    min-height: 213px;
  }
}

@media (min-width: 1023px) and (max-width: 1279px) {
  .photo-grid__item{
    min-width: 300px;
    min-height: 225px;
  }
}

@media (min-width: 767px) and (max-width: 1022px) {
  .photo-grid__item {
    min-width: 352px;
    min-height: 264px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .photo-grid__item{
    min-width: 393px;
    min-height: 293px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .photo-grid__item {
    min-width: 288px;
    max-width: 352px;
    min-height: 216px;
  }
}
