.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

@media (min-width: 1023px) and (max-width: 1278px) {
  .photo-grid__item{
    min-width: 300px;
    min-height: 225px;
  }
}

@media (min-width: 766px) and (max-width: 1022px) {
  .photo-grid__item{
    min-width: 351px;
    min-height: 264px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .photo-grid__item {
    max-width: 288px;
    min-height: 216px;
  }
}
