.header {
  max-width: 1280px;
  margin: 28px 48px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .header {
    min-width: 928px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    min-width: 928px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .header {
    margin: 16px 16px 0;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .header {
    margin: 16px 16px 0;
  }
}

