.header {
  max-width: 1280px;
  margin: 28px 48px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media (min-width: 745px) and (max-width: 767px) {
  .header {
    max-width: 650px;
  }
}

@media (min-width: 425px) and (max-width: 745px) {
  .header {
    max-width: 390px;
  }
}

@media (min-width: 425px) and (max-width: 1280px) {
  .header {
    margin: 28px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .header {
    margin: 16px auto 0;
    max-width: 288px;
  }
}

