.content {
  margin: 0;
  min-width: 984px;
  overflow:hidden;
  overflow-x:hidden;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .content {
    min-width: 984px;
    margin: 0 148px 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content {
    min-width: 928px;
    margin: 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .content {
    min-width: 767px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .content {
    min-width: 390px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .content {
    min-width: 280px;
  }
}
