.footer__link {
  margin-right: 1.5%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .footer__link {
    margin: 0 30px 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__link {
    margin: 0 40px 32px 0;
  }
}



