.lead__title {
  max-width: 720px;
  max-height: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 56px auto 0;
}

@media (min-width: 767px) and (max-width: 1022px) {
  .lead__title {
    margin: 48px 24px 0;
  }
}

@media (min-width: 319px) and (max-width: 766px) {
  .lead__title {
    max-width: 288px;
    min-width: 88px;
    font-size: 40px;
    line-height: 110%;
    margin: 48px 16px 0;

  }
}
