.lead__title {
  max-width: 720px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto 0;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .lead__title {
    margin: 56px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    max-width: 350px;
    font-size: 50px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    line-height: 110%;
  }
}
