.lead__title {
  max-width: 720px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto 0;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .lead__title  {
    font-size: 96px;
    max-width: 720px;
    line-height: 100px;
  }
}

@media (min-width: 745px) and (max-width: 767px) {
  .lead__title  {
    font-size: 50px;
    max-width: 400px;
    line-height: 110%;
    font-size: 40px;
  }
}

@media (min-width: 425px) and (max-width: 745px) {
  .lead__title {
    font-size: 50px;
    max-width: 400px;
    line-height: 110%;
    font-size: 40px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead__title {
    line-height: 110%;
    font-size: 40px;
    max-width: 288px;
  }
}
