.lead__title {
  max-width: 720px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto 0;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .lead__title {
    margin: 56px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__title {
    margin: 48px auto 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .lead__title {
    margin: 48px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .lead__title {
    margin: 48px 20px 0;
    font-size: 50px;
    line-height: 110%;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    margin: 48px 16px 0;
  }
}
