.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  min-width: 70%;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .footer__links {
    min-width: 70%;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .footer__links {
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .footer__links {
    max-width: 50%;
  }
}
