.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 60%;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 425px) and (max-width: 766px) {
  .footer__links {
    max-width: 50%;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .footer__links {
    max-width: 50%;
  }
}
