.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .footer__links {
    min-width: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer__links {
    min-width: 70%;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .footer__links {
    max-width: 50%;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .footer__links {
    max-width: 50%;
  }
}
