.place__paragraph {
  max-width: 484px;
  margin: 26px 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  text-align: left;

}

@media (min-width: 1280px) and (max-width: 1600px) {
  .place__paragraph {
    max-width: 450px;
    margin: 27px 0 0;
  }
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .place__paragraph:first-of-type {
    margin: 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place__paragraph {
    max-width: 452px;
    margin: 27px 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place__paragraph:first-of-type {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph {
    max-width: 328px;
    font-size: 16px;
    line-height: 163%;
    margin: 26px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph:first-of-type {
    margin-top: 0;
    max-width: 328px;
    margin: 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place__paragraph {
    max-width: 350px;
    font-size: 16px;
    line-height: 163%;
    margin: 25px 0 0;
    gap: 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place__paragraph:first-of-type {
    margin: 39px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place__paragraph {
    min-width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin: 25px 15px 0;
    gap: 0;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place__paragraph:first-of-type {
    margin: 39px 15px 0;
  }
}
