.place__paragraph {
  max-width: 484px;
  margin: 26px 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .place__paragraph {
    min-width: 456px;
    margin: 27px 0 0;
  }
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    min-width: 456px;
    margin: 27px 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .place__paragraph {
    min-width: 210px;
    min-width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin: 25px 16px 0;
    gap: 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .place__paragraph:first-of-type {
    margin-top: 39px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .place__paragraph {
    min-width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin: 25px 16px 0;
    gap: 0;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .place__paragraph:first-of-type {
    margin-top: 39px;
  }
}
