.footer__copyright {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media (min-width: 425px) and (max-width: 768px) {
  .footer__copyright {
    margin: 18px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer__copyright {
    line-height: 14px;
    text-align: start;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__copyright {
    margin: 16px 0 0;
  }
}


