.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin: 64px 0 0;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 56px auto 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
    max-height: 480px;
    margin: 56px 0 0;
  }
}

@media (min-width: 745px) and (max-width: 768px) {
  .lead__image {
    max-height: 340px;
  }
}

@media (min-width: 425px) and (max-width: 745px) {
  .lead__image {
    margin: 40px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .lead__image {
    margin: 32px 0 0;
    max-height: 200px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .lead__image {
    max-width: 320px;
  }
}
