.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin: 64px 0 0;
}

@media (min-width: 1023px) and (max-width: 1279px) {
  .lead__image {
    min-width: 928px;
    min-height: 580px;
    margin: 56px auto 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin: 56px 0 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .lead__image {
    max-width: 390px;
    max-height: 250px;
    margin: 40px 0 0;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin: 40px 0 0;
  }
}
