.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin: 64px 0 0;
}

@media (min-width: 1019px) and (max-width: 1274px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}

@media (min-width: 850px) and (max-width: 1018px) {
  .lead__image {
    max-width: 840px;
    max-height: 490px;
  }
}

@media (min-width: 763px) and (max-width: 850px) {
  .lead__image {
    max-width: 666px;
    max-height: 480px;
  }
}

@media (min-width: 500px) and (max-width: 763px) {
  .lead__image {
    max-height: 220px;
    max-width: 490px;
  }
}

@media (min-width: 445px) and (max-width: 500px) {
  .lead__image {
    max-height: 220px;
    max-width: 390px;
  }
}

@media (min-width: 320px) and (max-width: 445px) {
  .lead__image {
    max-height: 200px;
    max-width: 319px;
    margin: 50px 0 0;
  }
}
