.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin: 64px 0 0;
}

@media (min-width: 1024px) and (max-width: 1278px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 56px auto 0;
  }
}

@media (min-width: 766px) and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
    max-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .lead__image {
    max-height: 200px;
    max-width: 319px;
    margin: 50px 0 0;
  }
}


