.intro__text {
  max-width: 690px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 0;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .intro__text {
    max-width: 720px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .intro__text {
    max-width: 393px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .intro__text {
    max-width: 288px;
    margin: 32px 0 0;
  }
}
