.intro {
  max-width: 690px;
  margin: 92px auto 0 148px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (min-width: 1023px) and (max-width: 1278px) {
  .intro{
    margin: 92px auto 0;
    min-width: 928px;
  }
}

@media (min-width: 766px) and (max-width: 1022px) {
  .intro {
    max-width: 720px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 765px) {
  .intro {
    max-width: 300px;
    margin: 64px 16px 0;
  }
}

