.intro {
  max-width: 690px;
  margin: 92px auto 0;
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .intro{
    margin: 92px auto 0 11.6%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro{
    margin: 92px auto 0 4.7%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    min-width: 288px;
    margin: 64px 16px 0;
  }
}


