.intro {
  max-width: 690px;
  margin: 0;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .intro{
    max-width: 690px;
    margin: 92px auto 0 16%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .intro{
    max-width: 690px;
    margin: 92px auto 0 145px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro{
    margin: 92px auto  0 48px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .intro{
    min-width: 288px;
    margin: 64px 16px 0;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .intro {
    min-width: 288px;
    margin: 64px 16px 0;
  }
}


