.place__img {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
}

@media (min-width: 1023px) and (max-width: 1278px) {
  .place__img {
    max-width: 440px;
    max-height: 440px;
  }
}

@media (min-width: 766px) and (max-width: 1022px) {
  .place__img {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .place__img {
    margin: 32px 0 0;
    max-width: 318px;
    max-height: 320px;
  }
}
