.place__img {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place__img {
    max-width: 440px;
    max-height: 440px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__img {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place__img {
    margin: 32px 0 0 16px;
    max-width: 388px;
    max-height: 388px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place__img {
    margin: 32px 0 0;
    max-width: 318px;
    max-height: 320px;
  }
}
