.place__img {
  margin: 0;
  max-width: 460px;
  max-height: 460px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__img {
    margin-top: 0;
    max-width: 440px;
    max-height: 440px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .place__img {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .place__img {
    margin: 25px 0 0;
    min-width: 320px;
    min-height: 320px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .place__img {
    margin: 25px 0 0;
    min-width: 320px;
    min-height: 320px;
  }
}
