.lead__subtitle {
  max-width: 640px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  margin: 32px auto 0;
}

@media (min-width: 425px) and (max-width: 766px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px 16px 0;
    font-size: 16px;
    line-height: 20px;
  }
}
