.lead__subtitle {
  max-width: 640px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  margin: 32px auto 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 16px;
  }
}
