.cover {
  margin: 92px 48px 0;
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  background-image: url(././../../images/cover-trains.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
}

.cover:hover::after{
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .cover {
    max-width: 1184px;
    margin: 92px auto 24px;
    max-height: 740px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .cover {
    margin: 92px 48px 0;
    max-width: 1184px;
    max-height: 740px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .cover {
    margin: 92px 0 0;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cover {
    margin: 117px 0 0;
    max-width: 767px;
    min-height: 480px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .cover {
    margin: 66px 0 0;
    max-width: 320px;
    min-height: 300px;
    background-position: center;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .cover {
    margin: 77px 0 0;
    max-width: 318px;
    min-height: 200px;
  }
}
