.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  position: relative;
  background-image: url(././../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::after{
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 1s;
}

@media (min-width: 763px) and (max-width: 1018px) {
  .cover {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 762px) {
  .cover {
    margin: 66px auto 0;
  }
}
