.cover {
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  background-image: url(././../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::after{
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .cover {
    max-width: 1184px;
    max-height: 740px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin: 92px auto 0;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 90px auto 0;
    max-width: 767px;
    min-height: 480px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover {
    max-width: 350px;
    min-height: 220px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .cover {
    max-width: 318px;
    min-height: 200px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .cover {
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover {
    margin: 66px auto 0;
  }
}
