.cover {
  margin: 92px 48px 0;
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  background-image: url(././../../images/cover-trains.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
  overflow:hidden;
  overflow-x:hidden;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
}

.cover:hover::after{
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .cover {
    margin: 92px auto 0;
    min-width: 1184px;
    min-height: 740px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin: 92px 0 0;
    min-width: 1024px;
    min-height: 640px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .cover {
    margin: 117px 0 0;
    min-width: 766px;
    min-height: 480px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .cover {
    margin: 66px 0 0;
    min-width: 320px;
    min-height: 200px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .cover {
    margin: 66px 0 0;
    min-width: 320px;
    min-height: 200px;
  }
}
