.lead__caption {
  margin: 8px 0 0;
  text-align: start;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0;
}

@media (min-width: 766px) and (max-width: 1022px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media (min-width: 320px) and (max-width: 765px) {
  .lead__caption {
    margin: 8px auto 0 16px;
  }
}
