.lead__caption {
  margin: 8px 0 0;
  text-align: start;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .lead__caption {
    margin: 8px auto 0 0;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .lead__caption {
    max-width: 768px;
    margin: 8px auto 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__caption {
    margin: 8px auto 0 48px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .lead__caption {
    margin: 8px auto 0 24px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .lead__caption {
    margin: 8px auto 0 16px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .lead__caption {
    margin: 8px auto 0 16px;
  }
}
