.cover__title {
  margin: 50% auto 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  position: relative;
  z-index: 2;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .cover__title {
    margin: 50% auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    margin: 30% auto 0;
  }
}

@media (min-width: 767px) and (max-width: 1023px){
  .cover__title {
    margin: 15% 33px 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .cover__title {

  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .cover__title {
    margin: 15% 33px 0;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
