.cover__title {
  margin: 50% auto 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  position: relative;
  z-index: 2;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .cover__title {
    margin: 245px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    margin: 195px auto 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px){
  .cover__title {
    margin: 115px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .cover__title {
    margin: 115px auto 0;
    max-width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 766px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .cover__title {
    margin: 33px auto 0;
    max-width: 288px;
  }
}
