.place {
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(46px, 1fr));
  flex-wrap: wrap;
  max-width: 984px;
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
    margin: 80px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .place:first-of-type {
    margin: 92px 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place {
    min-width: 524px;
    column-gap: 32px;
    margin: 80px 0 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place:first-of-type {
    margin: 92px 0 0;
    min-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin: 73px auto 0;
    column-gap: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place:first-of-type{
    margin: 88px auto 0;
    max-width: 720px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .place {
    max-width: 424px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .place {
    min-width: 318px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place:first-of-type {
    margin: 64px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place {
    margin: 50px auto 0;
    display: flex;
    row-gap: 0;
  }
}
