.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 92px 48px 24px;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 6px;
    margin: 64px 16px 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px auto 24px 16px;
    min-width: 186px;
  }
}
