.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 92px 48px 24px;
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .footer {
    min-width: 928px;
    margin: 92px auto 24px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    min-width: 928px;
    margin: 92px auto 24px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .footer {
    margin: 117px 24px 24px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 425px) and (max-width: 766px) {
  .footer {
    min-width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px 118px 24px 16px;
  }
}

@media (min-width: 319px) and (max-width: 424px) {
  .footer {
    min-width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px 118px 24px 16px;
  }
}
