.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 92px 48px 24px;
  font-size: 16px;
  line-height: 18px;
  max-width: 1184px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    margin: 92px auto 24px;
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 88px auto 24px;
    max-width: 720px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer {
    max-width: 720px;
    flex-wrap: wrap;
    margin: 64px 16px 24px;
    max-width: 423px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 24px 16px;
    min-width: 186px;
  }
}
