.place__url-heading {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-decoration: none;
}

