.place__website {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .place__website {
    margin-top: 90px;
  }
}

@media (min-width: 1023px) and (max-width: 1279px) {
  .place__website {
    margin-top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    min-width: 352px;
    margin-top: 40px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .place__website {
    min-width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .place__website {
    min-width: 288px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__website {
    margin: 32px 16px 0;
  }
}
