.place__website {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    min-width: 352px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .place__website {
    min-width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .place__website {
    min-width: 288px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__website {
    margin: 32px 0 0 16px;
  }
}
